@model UserProject1.Models.UserDetails

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<style type="text/css">
    body {
        background-image: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/css1/style.css">
</head>

<body background="../images/intro-bg.jpg">

    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <br />
                <br />
                <br />

                <img style="padding-left:15px;" src="https://tccl.libnet.info/images/events/tccl/Movie_night.jpg" alt="">
            </div>
            <form style="font-size:16px;" id="loginform" class="form-horizontal" role="form" method="post" asp-controller="BookMovie" asp-action="DirectRegister">
                <h3 style="color:black">Sign Up</h3>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger" style="color:red; font-weight: bold;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger" style="color:red; font-weight: bold;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger" style="color:red; font-weight: bold;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactNo" class="control-label"></label>
                    <input asp-for="ContactNo" class="form-control" />
                    <span asp-validation-for="ContactNo" class="text-danger" style="color:red; font-weight: bold;"></span>
                </div>

                <div class="form-group">
                    <br />
                    <button type="submit" style="color:white; background-color:black;">Sign Up</button>
                    <br/>
                    <a asp-controller="Customer" asp-action="DirectLogin" style="color:black;">Back To Login</a>
                </div>

                    
            </form>
            @{
                TempData.Keep("uid");
            }
        </div>
    </div>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
