

@{
    ViewData["Title"] = "GoBack";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div>
    <br />

    <h2>CONTINUE BOOKING!</h2>
    <a asp-controller="Home" asp-action="Location" class="btn btn-primary">Add Movie</a>
</div>
<body>
    <img src="http://www.megabakeenergybar.com.au/wp-content/themes/mrtailor/images/empty_cart_retina.png" />
</body>


