@model UserProject1.Models.Reviews
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Review</title>
    </head>
    <body>
        <form class="wrap-input100 validate-form" asp-controller="BookMovie" asp-action="Review" method="post">
            <div class=" wrap-input100 validate-input" asp-for="Comment" data-validate="Comment">
                <label for="">Comment:></label>
                <input asp-for="Comment" type="text" placeholder="Comment *">
                <span class="focus-input100"></span>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </form>
    </body>
    </html>*@

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<section id="subscribe">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Write Review</h2>
        </div>

        <form  asp-controller="BookMovie" asp-action="Review" method="POST">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <label for="">Comment:></label>
                    <input asp-for="Comment" type="text" placeholder="Comment">
                    <span class="focus-input100"></span>
                </div>
                <div class="col-auto">
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </form>

    </div>
</section>

