
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--==========================
    Intro Section
  ============================-->

<br />

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About The Portal</h2>
                <p>
                    Want to book movie tickets? Use the Hs3 online portal to book Movie Tickets.
                    Let it take care of all your entertainment needs. Features: Book tickets for movies.
                    An easy step-by-step process and an improved design to make your ticket booking smooth.
                    Auto-detect or manually select location option. Select your most-preferred show and venue
                    basis your current location. Buy one or more tickets at a time. Select your favorite
                    showtime and seats.Online payment options like Credit/Debit Cards available.
                    It's totally safe and secure.
                    Make your transactions a breeze.

                </p>
                <div></div>
                &nbsp;
                &nbsp;
            </div>
            <div class="col-lg-3">
                <img src="http://industrynewsnetwork.com/wp-content/uploads/2019/03/Global-Online-Movie-Ticketing-Services-Market-2019.png" />
            </div>

        </div>
    </div>

</section>
