@model IEnumerable<UserProject1.Models.Locations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}

&nbsp;
&nbsp;

@*<center><h1>Movie Tickets, Events & Cinemas near Delhi</h1></center>*@

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="@item.LocationImage" class="bd-placeholder-img" width="100%" height="300" card-img-top" />

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text" style="font-weight:bold;">@item.LocationName</p>
                                &nbsp;
                                &nbsp;

                                <a asp-controller="Home" asp-action="Multiplex" asp-route-id="@item.LocationId" type="button" class="btn btn-secondary">Select Location</a>

                            </div>

                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>






